.App {
  text-align: center;
}

.App nav {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.App__outlet-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  /* TODO adjust dynamically */
  padding: 0 10rem;
}
