#####
# UPDATE VALUES BELOW AND RENAME THIS FILE TO .env, and remove this comment
#####

# Local development environment variables for Docker Compose
# This file is used by docker-compose.yml

# Django configuration
SECRET_KEY=some-random-key
FRONTEND_URL=http://localhost:3000

# Database configuration (replace values below with local DB)
POSTGRES_DB=<db_name>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>

# Redis configuration (for rate limiting)
REDIS_URL=redis://redis:6379/0

# Django settings to use
DJANGO_SETTINGS_MODULE=taps_backend.development_settings
