#####
# UPDATE VALUES BELOW AND RENAME THIS FILE TO .env, and remove this comment
#####

# Local development environment variables for Docker Compose
# This file is used by docker-compose.yml

# Django configuration
SECRET_KEY=some-random-key

# Database configuration (replace values below with local DB)
DATABASE_URL=postgres://db_user:db_password@db:5432/db_name

# Django settings to use
DJANGO_SETTINGS_MODULE=taps_backend.development_settings
