[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pytest = "*"
"flake8" = "*"
mypy = "*"
pydocstyle = "*"
rope = "*"

[requires]
python_version = "3.7"
